
body{
    background-color: #fff;
    font-size: 20px;
    width: 100%;
    margin: 0px;
}
nav {
    list-style-type: none;
    margin: 0.30;
    padding: 0.10;
    overflow: hidden;
    background-color: black;
  }
  
 
  li {
    float: left;
  }
  
  li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  

  .img_logo_nav{
    width: 3.5%;
    border-radius: 50%;  
    box-shadow: 0px  0px 10px  rgb(238, 239, 239); 
    margin-top: auto;
  }


.contenedor{
    position:relative;
    padding: 15px;
}
/*Contacto*/
.body_contacto{
    background-color: #ffffffe2;
}
/*Titulo completa tus datos*/
.header{
    color: #087fe7;
    font-size: 27px;
    padding: 10px;
}
/*formato form*/
.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}